body {
  font-family:Arial,sans-serif;
  text-align:center;
  padding: 50px;
  background-color:lightblue;
}
h1 {
  color:red;
  font-size: 40px;
  font-weight:bold;
}
p {
  font-size:50px;
  line-height: 1.6;
}
nav {
  padding: 50px;
  border: 2px solid black;
  margin: 50px;
}
.nav-link {
  color: #6a0dad;
}
nav {
  dislpay: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px;
  border: 2px solid black;
  margin: 50px;
}
@media (max-width: 600px) {
  body {
  padding: 50px;
}
h1 {
  font-size: 40px;
  }
}
.projects {
  display:grid;
  grid-template-columns: 1fr;
  gap:20px;
}

@media (main-width: 768px) {
  .projects {
    grid-template-column: repeat(3, 1fr);
  }
}
